
.navbar {
	margin-bottom: 0;
}
@media all and (max-width: 991px) {
	.jumbotron h1 {
		font-size: 45px;
		padding-bottom: 20px;
	}
	.jumbotron img {
		margin-bottom: 20px;
	}
}
@media all and (min-width: 992px) {
	.navbar {
		font-size: 18px;
	}
	.navbar-brand {
		font-size: 20px;
	}
}
